@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f3ef;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1ccc3;
  border-radius: 3px;
}
